body {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(80, 80, 255);
}
header{
width: 100%;
margin: 70px;
}
.divheaderL{
  float: left;
  width: 67%;
}
.bakg{
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  font-size: 70px;
  font-weight: 100;
}
.haegrit{
  font-family: 'Big Shoulders Display', cursive;
  font-size: 30px;
  font-weight: 100;
  margin: 55px;
}
.haegrit a{
    color: white;
}
a:active{
  color: white;
}

a:hover{
  color: red;
}
a:link{
  text-decoration: none;
  color: white;
}
.divheaderR{
  float: right;
  width: 33%;
}
.grar{
    color: rgb(145, 145, 145);
    text-align: right;
}
section{
  background-image: linear-gradient(burlywood, white);
  float: left;
  width: 100%;
}
blockquote{
  background-color: rgba(248, 248, 248, 0.5);
}
footer{
  width: 100%;
  margin: 80px;
}
dl{
    color: white;
}
h4{
    color: white;
}
.nav1{
  float: left;
  width: 34%;
}
.nav2{
  float: left;
  width: 33%;
}
.nav3{
  float: left;
  width: 33%;
}
.divtext{
  margin: 70px;
}
.tvoniu{
  text-align: bottom;
}
li a{
    color: white;
}
.navdiv{
    margin: 70px;
}
footer ul{
    list-style-type: none;
}
