h1 {color:red;}
h2 {color:blue;}
h3 {color:green;}
h4 {color:yellow;}
h5 {color:purple;}
h6 {color:brown;}
p {color:orange;}
body {margin: 800px;}
li {color:brown;}
strong {color:cyan;}
body {
 background-image: url("https://cdn.wallpapersafari.com/97/87/cqCHjU.gif");
 background-color: #cccccc;
}
