body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(80, 80, 255);
  }
  header{
  width: 100%;
  margin: 70px;
  }
  .divheaderL{
    float: left;
    width: 67%;
  }
  .divheaderR{
    float: right;
    width: 33%;
  }
  .haegrit{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
    font-weight: 100;
    margin: 55px;
  }
      .haegrit a{
          color: white;
      }
      a:active{
        color: white;
      }
      
      a:hover{
        color: red;
      }
      a:link{
        text-decoration: none;
        color: white;
      }
  }
  .grar{
    color: rgb(145, 145, 145);
    text-align: right;
}
  .navdiv{
    margin: 70px;
}
